.so_list_pt {
    width: 969px;
    margin: 0 auto;
}
.solution_bar{
    width: 100%;
}
.solution_bar img{
    width: 100%;
    height: auto;
}

.solution_nav_ul {
    width: 969px;
    margin: 0 auto;
}
.solution_nav_ul li:first-child {
    border-left: 1px solid #E3E3E3;
}

.solution_nav_ul li {
    width: 484px;
    height: 100px;
    border-right: 1px solid #E3E3E3;
    text-align: center;
    float: left;
    cursor: pointer;
    position: relative;
}
.solution_nav_ul li:nth-child(2)::before {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background: #0075c2;
    content: '';
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
}
.solution_nav_ul li:first-child.on ~ li:nth-child(2)::before {
    -webkit-transform: translate3d(-100%,0,0);
    transform: translate3d(-100%,0,0);
}
.solution_nav_ul li:hover {
    color: #0075c2;
}
.solution_nav_ul li.on {
    /*color: #0075c2;
    border-bottom: 3px solid #0075C2;*/
}
.solution_nav_ul li span {
    padding-top: 12px;
}
.solution_nav_ul li.on span,.solution_nav_ul li.on div {
    -webkit-transform: translate3d(0,8px,0);
    transform: translate3d(0,8px,0);
    -webkit-transition: color 0.3s, -webkit-transform 0.3s;
    transition: color 0.3s, transform 0.3s;
}
.hd {
    border-bottom: 1px solid #E3E3E3;
}
.soul_liico {
    margin-top: 20px;
}
.so_nav_list dl{
    /*margin-top: 88px;*/
    margin: 0;
}
.so_nav_list dd{
    margin-bottom: 100px;
    overflow: hidden;
}
.so_nav_ddtit{
    margin-top: 80px;
}
.so_education_con{
    padding-top: 80px;
    text-align: center;
}

.edu_dl_outer dd:hover .so_edu_left img,.so_security_con dd:hover .so_sec_left img{
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}
.edu_dl_outer dd img,.so_security_con dd img{
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
}

.so_edu_left{
    padding: 20px;
    border: 1px solid #EFEFEF;
}
.so_edu_right{
    width: 440px;
    height: 280px;
    text-align: left;
    border-top: 1px dashed #ccc;
}
.so_edur_title{
    font-size: 40px;
    padding-top: 20px;
    color: #555;
}
.so_edur_con{
    color: #666;
    padding-top: 50px;
    line-height: 180%;
}
.so_edur_link{
    margin-top: 8px;
    color: #0075c2;
}
.so_edur_link span{
    margin-right: 10px;
}
.edu_ul_outer{
    text-align: center;
    border: 0;
}
.edu_ul li:first-child{
    border-left: 1px solid #ccc;
}
.edu_ul li{
    float: left;
    padding: 10px 20px;
    cursor: pointer;
    position: relative;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background-color: #fff;
}
.edu_ul li.on{
    background-color: #0075c2;
}

.edu_ul  li.on .staff_itemt_ico{
    position: absolute;
    top: -13px;
    left: 47%;
    display: inline-block;
}
.edu_ul  li .staff_itemt_ico{
    display: none;
}
/*  security  */
.so_security_con{
    padding-top: 80px;
    text-align: center;
}
.so_security_con .hd{
    border: 0;
}

.so_sec_left{
    padding: 20px;
    border: 1px solid #EAEAEA;
    background-color: #fff;
    overflow: hidden;
}
.so_sec_right{
    width: 440px;
    height: 280px;
    text-align: left;
}